<%= render"search" %>

<% if @results %>
	<% @results["businesses"].each do |business| %>
		<h4><a href="<%= business['id'] %>"><%= business["name"] %></a></h4>
		<p><img src="<%= business['rating_img_url'] %>" /> (based on <%= business["review_count"] %> reviews)</p>
		<p><%= business["message"] %></p>
		<p><%= business["location"]["display_address"][0] %><br/>
		<%= business["location"]["city"] %></p>
		<p><%= link_to "Clock my wait time", new_place_path(business["id"]), class: "btn btn-primary btn-block" %></p>
	<% end %>
<% end %>