<%= render"search" %>
<h4><%= @business["name"] %></h4>
<p><img src="<%= @business['rating_img_url'] %>" /> (based on <%= @business["review_count"] %> reviews)</p>
<p><%= @business["message"] %></p>
<p><%= @business["location"]["display_address"][0] %><br/>
<%= @business["location"]["city"] %><br/>
<%= @business["display_phone"] %></p>
<p><%= link_to "Clock my wait time", new_place_path, class: "btn btn-primary btn-block" %></p>

